In [253]:
input_dir = "data/Waves Historical Data - Investing.com.csv"
output_dir = "data/final/Waves.csv"

In [254]:
import pandas as pd
import numpy as np
data = pd.read_csv(input_dir, parse_dates=['Date'])
data["Price"].replace(',','', regex=True, inplace=True)
data["Open"].replace(',','', regex=True, inplace=True)
data["High"].replace(',','', regex=True, inplace=True)
data["Low"].replace(',','', regex=True, inplace=True)
data["Change %"].replace('%','', regex=True, inplace=True)
data['Vol.'].replace([',',','],'', regex=True, inplace=True)
data["Price"] = data["Price"].astype(float)
data["Open"] = data["Open"].astype(float)
data["High"] = data["High"].astype(float)
data["Low"] = data["Low"].astype(float)
data["Change %"].replace(['%' , ','],'', regex=True, inplace=True)
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 100000000
    return 0.0

data['Vol.'] = data['Vol.'].apply(value_to_float)
data["SNo"] = [i+1 for i in range(len(data))]
cols= ['SNo','Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
data = data[cols]
data.to_csv(output_dir,index = False)

In [255]:
data_gen = pd.read_csv(output_dir, parse_dates=['Date'])
data_gen.head()

   SNo       Date    Price     Open     High      Low       Vol.  Change %
0    1 2021-08-24  25.2903  25.9995  26.0040  25.1883  1090000.0     -2.72
1    2 2021-08-23  25.9970  26.0035  26.2687  25.5158  1330000.0     -0.04
2    3 2021-08-22  26.0085  24.9372  27.1006  24.8866  2870000.0      4.33
3    4 2021-08-21  24.9300  24.4829  26.6754  24.0236  1880000.0      1.83
4    5 2021-08-20  24.4829  23.8560  24.9573  23.5134  1430000.0      2.63

In [256]:
data_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SNo       1458 non-null   int64
 1   Date      1458 non-null   datetime64[ns]
 2   Price     1458 non-null   float64
 3   Open      1458 non-null   float64
 4   High      1458 non-null   float64
 5   Low       1458 non-null   float64
 6   Vol.      1458 non-null   float64
 7   Change %  1458 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 91.2 KB